    page-home {
        #floating-panel {
          position: absolute;
          top: 50px;
          right: 5px;
          z-index: 5;
          padding: 5px;
          text-align: center;
          line-height: 30px;
          padding-left: 10px;
        }
        #map {  height: 100%;  }
      }

