<ion-menu [content]="content">
<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar 
                spellcheck=true
                animated=true
                (ionInput)=query()
                showCancelButton=true
                [(ngModel)]=searchTerm>
        </ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list> 
        <button id="btn" ion-item *ngFor="let item of services" (click)="open(item)">
            <h1>{{ item.Name }}</h1>
            <p>{{ item.Desc }}</p>
            <ion-badge color="primary" *ngIf="item.Telephone != ''">{{item.Telephone}}</ion-badge>
          </button>
      </ion-list> 
      <h2 class="results" *ngIf="services.length == 0">No Results</h2>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>