<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-item class="search">
          <ion-searchbar 
                  spellcheck=true
                  animated=true
                  (ionInput)=query()
                  showCancelButton=true
                  [(ngModel)]=searchTerm>
          </ion-searchbar>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let item of services">
          <h1>{{ item.Name }}</h1>
          <h2 *ngIf="item.Telephone != ''"><b>Tel: {{item.Telephone}}</b></h2>
          <p>{{ item.Desc }}</p>
        </ion-item>
      </ion-list> 
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>